body {
    font-size:14px;
    font-family:'Verdana';
}
input {
    font-family:inherit;
    border:1px solid #ccc;
    padding:10px;
    

}
.hints-list {
    position: absolute;
    background: white;
    box-shadow: 0 0 2px #ccc;
    margin: 0;
    padding: 0;
}
.hints-list li {
    margin: 0;
    padding: 10px;
    cursor: pointer;
}
.hints-list li:hover,
.hints-list li.highlighted {
    background: #eee;
}
